{% extends 'basee.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'posts' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-6 col-sm-12 border-bottom">
            <p><strong>{{ post.author }}</strong> {{ post.date_created }}</p>
            <p>{{ post.content }}</p>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                        <i class="fa-heart {% if user in post.likes.all %}fas text-danger{% else %}far{% endif %}">
                            <span>{{ post.likes.all.count }}</span>
                        </i>
                    </button>
                </form>
                <a href="{% url 'comment' post.pk %}" class="btn btn-outline-primary ml-3">Comment</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-6 col-sm-12">
            <h5>Comments</h5>
        </div>
    </div>

 
    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-2">
        <div class="col-md-5 col-sm-12 offset-md-1">
            <div class="media mb-3">
                <div class="media-body">
                    <p class="mb-1"><strong>{{ comment.author }}</strong> 
                        <small class="text-muted">{{ comment.date_created|date:"F d, Y" }} at {{ comment.date_created|time:"H:i" }}</small>
                    </p>
                    <p>{{ comment.content }}</p>
                    <div class="d-flex flex-row">
                        <form method="POST" action="{% url 'like-comment' post.pk comment.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit">
                                <i class="fa-heart {% if user in comment.likes.all %}fas text-danger{% else %}far{% endif %}">
                                    <span>{{ comment.likes.all.count }}</span>
                                </i>
                            </button>
                        </form>

                        <a href="{% url 'reply-comment' post.pk comment.pk %}" class="btn btn-sm btn-outline-secondary ml-3">Reply</a>
                    </div>
                    {% for child_comment in comment.children.all %}
                    <div class="row justify-content-center mt-3 mb-5 child-comment">
                        <div class="col-md-5 col-sm-12 border-bottom ml-5">
                            <div class="media-body">
                                <p><strong>{{ child_comment.author }}</strong>
                                    <small class="text-muted">Replying to @{{ comment.author }} | {{ child_comment.date_created|date:"F d, Y" }} at {{ child_comment.date_created|time:"H:i" }}</small>
                                </p>
                                <p>{{ child_comment.content }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
