<script>
	function showNotifications() {
	console.log('ah show notifs????????????????/')
	const container = document.getElementById('notification-container');

	if (container.classList.contains('d-none')) {
		container.classList.remove('d-none');
	} else {
		container.classList.add('d-none');
	}
}

</script>
<div class="dropdown"></div>
	<span class="badge bg-primary notification-badge" onclick="showNotifications()">{{ notifications.count }}</span>
	<div class="dropdown-content d-none" id="notification-container">
		{% for notification in notifications %}
			{% if notification.post %}
				{% if notification.notification_type == 1 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'post-notification' notification.pk notification.post.pk %}">@{{ notification.sender }} liked your post</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% elif notification.notification_type == 2 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'post-notification' notification.pk notification.post.pk %}">@{{ notification.sender }} commented on your post</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% endif %}
			{% elif notification.comment %}
				{% if notification.notification_type == 1 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{ notification.sender }} liked your comment</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% elif notification.notification_type == 2 %}
				<div class="dropdown-item-parent">
					<a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{ notification.sender }} replied to your comment</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
				{% endif %}
			{% else %}
			<div class="dropdown-item-parent">
					<a href="{% url 'follow-notification' notification.pk notification.sender.profile.pk %}">@{{ notification.sender }} has started following you</a>
					<span class="dropdown-item-close" onclick="removeNotification(`{% url 'delete-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
				</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>